body {
    background-color: #b1e8d6;
}
input {
    height: 25px;
    margin-left: 5px;
}
.NameForm {
    width: 300px;
    border-radius: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.NumForm {
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.EmailForm {
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
label {
    color: #7641a8;
}
.container {
    color: green;
    background-color: #d2e07b;
}
